.well {
    border:1px solid #ababab;
    border-radius: 5px;
    background-color: #e5e5e5;
    padding:10px;
    margin:5px;
}

.warning {
    border:1px solid #ffd67c;
    background-color: #ffee8c;
}

.error {
    border:1px solid #ffbfba;
    background-color: #ffdde2;
}

.success{
    border:1px solid #89ff87;
    background-color: #cfffd4;
}