.well {
    border:1px solid #ababab;
    border-radius: 5px;
    background-color: #e5e5e5;
    padding:10px;
    margin:5px;
}

.warning {
    border:1px solid #ffd67c;
    background-color: #ffee8c;
}

.error {
    border:1px solid #ffbfba;
    background-color: #ffdde2;
}

.success{
    border:1px solid #89ff87;
    background-color: #cfffd4;
}

.col-spacer{
    width:100px;
}

.row-stripe{
    background-color: #bbd6f0;
}

td:first-child {
    padding-left:10px !important;
}

.input-error {
    border : 1px solid #ec6f65 !important;
}
tr.input-error {
    background-color: #ec6f65 !important;
}

.success-well{
    background-color: rgba(166, 255, 141, 0.51);
    border: 1px solid green;
}