<div class="row" >
    <div class="twelve columns">
        <h3>Ready To Go?</h3>

        <p>Thank you for agreeing to participate in this research!</p>

        <p>Select proceed below when you are to move on to the first phase of the study.</p>

        <p style="font-weight:bold;"><b>Please do not refresh or resize your browser.</b></p>

        <button class="button-primary" onclick="go()">Proceed</button>

        <script type="text/javascript">
            function go(){
                window.location = "/#/survey/0";
            }
        </script>
    </div>
</div>