<div class="row" >
    <div class="twelve columns">
        <h3>Ready To Go?</h3>

        <p>Select begin below when you are ready to begin the study itself - from this point forward your responses will be recorded.</p>

        <p style="font-weight:bold;">Please do not refresh or resize your browser.</p>

        <button class="button-primary" onclick="go()">Begin the Study</button>


        <script type="text/javascript">
            function go(){
                window.location = "/#/question/0";
            }
        </script>
    </div>
</div>