<div class="row" ng-controller="consentController">
    <div class="twelve columns">

        <h4>Study Consent</h4>

        <p>Please read the following letter of information for implied consent.</p>

        <iframe src="img/consent.pdf" style="width:100%; height: 500px;"></iframe>

        <br>

        <p>
            By continuing to participate in this research your free and informed consent is implied.
            If you do not agree with the terms above, please select "I Do Not Agree" below,
            you will exit the study web application.
        </p>

        <button class="success" ng-click="consentAgree();">I Agree</button>
        <button class="error u-pull-right" ng-click="consentDisagree();">I <b>Do Not</b> Agree</button>

    </div>
</div>