<div class="row" >
    <div class="twelve columns">
        <h3>Almost Done!</h3>

        <p>Thank you for providing answers to the 'timeline' style questions.</p>

        <p>Just a few more questions...</p>

        <p>Select proceed below when you are ready to answer them.</p>

        <p style="font-weight:bold;"><b>Please do not refresh or resize your browser.</b></p>

        <button class="button-primary" onclick="go()">Proceed</button>

        <!-- Scripts -->
        <script type="text/javascript">
            window.onbeforeunload = function(){
                return true;
            };
        </script>

        <script type="text/javascript">
            function go(){
                window.location = "/#/survey/13";
            }
        </script>
    </div>
</div>