<div class="row" >
    <div class="twelve columns">
        <h3>Phase 1 Complete</h3>

        <p>Thank you for completing the first phase of the study.</p>

        <p>Select proceed below when you are to move on to the next phase of the study.</p>

        <p>First you will complete a short tutorial, then you will be asked a few questions.</p>

        <p style="font-weight:bold;"><b>Please do not refresh or resize your browser.</b></p>

        <button class="button-primary" onclick="go()">Proceed</button>

        <!-- Scripts -->
        <script type="text/javascript">
            window.onbeforeunload = function(){
                return true;
            };
        </script>

        <script type="text/javascript">
            function go(){
                window.location = "/#/tutorial";
            }
        </script>
    </div>
</div>