<div class="row">
    <div class="twelve columns">
        <h3>Thank you!</h3>

        <p>You have completed the study!</p>

        <p>Thank you for your participation in the Adherence Perceptions Project!</p>

        <p>You may not close your web browser.</p>

        <script type="text/javascript">

            // Mark the user as having completed the study.

            var scope = angular.element($("#mainContainer")).scope();
            scope.doneStudy();

        </script>

    </div>
</div>