<div class="row">
    <div class="one-half column">
        <h5>Welcome</h5>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Pellentesque nec tincidunt ante. Etiam pulvinar metus quis risus eleifend commodo.
            Aenean placerat lorem id dui consequat cursus. Fusce semper, urna vitae convallis sodales,
            tortor turpis vulputate lorem, id vestibulum dolor nunc a odio.
            Aliquam egestas malesuada lacus, commodo consectetur odio tempor et.
            Nullam mi nisi, blandit eu tellus non, bibendum tempor lacus.
            Suspendisse dictum pellentesque congue.
            In nibh diam, ornare eget neque sit amet, egestas ornare nibh.
            Nunc vel eros id libero tristique auctor.
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Pellentesque nec tincidunt ante. Etiam pulvinar metus quis risus eleifend commodo.
            Aenean placerat lorem id dui consequat cursus. Fusce semper, urna vitae convallis sodales,
            tortor turpis vulputate lorem, id vestibulum dolor nunc a odio.
            Aliquam egestas malesuada lacus, commodo consectetur odio tempor et.
            Nullam mi nisi, blandit eu tellus non, bibendum tempor lacus.
            Suspendisse dictum pellentesque congue.
            In nibh diam, ornare eget neque sit amet, egestas ornare nibh.
            Nunc vel eros id libero tristique auctor.
        </p>

    </div>
    <div class="one-half column" >
        <div class='bump'></div>

        <div class="row">
            <div class="two-thirds column">
                <h5>Login</h5>
            </div>
            <div class="one-third column">
                <img src="img/pill.png" id="login-pill-image" style="width:50px; height:63px" />
            </div>
        </div>

        <div class="row">
            <div class='twelve columns'>

                <form id="login-form" style="margin-bottom:0px;" onkeypress="checkSubmit(event);">
                    <div class="row">
                        <div class="twelve columns">
                            <input class="u-full-width"
                                   type="text"
                                   placeholder="username"
                                   id="login-username"
                                   name="username"
                                   required
                                   autofocus
                                />
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve columns">
                            <input class="u-full-width"
                                   type="password"
                                   name="password"
                                   placeholder="password"
                                   id="login-password"
                                   required
                            />
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row" style="margin-bottom:10px;">
            <div class="twelve columns">
                <div id='login-auth-failed' class="well warning" style="display:none;">
                    <span>Invalid username/password combination. Please try again.</span>
                </div>

                <div id='login-auth-error' class="well error" style="display:none;">
                    <span>Opps! Something went wrong - unable to authenticate.</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="twelve columns">
                <button id='login-button'
                        class="u-pull-right button-primary"
                        ng-click="login();">
                        Login
                </button>
            </div>
        </div>

    </div>

    </div>

    <script type="text/javascript">
        function checkSubmit(e){

            var scope = angular.element($("#mainContainer")).scope();

            if(e && e.keyCode === 13){
                if($("#login-username").val() && $("#login-password").val()) scope.login();
            }
        }
    </script>
</div>