<div class="row">
        <div class="twelve columns">
            <h5>Welcome</h5>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Pellentesque nec tincidunt ante. Etiam pulvinar metus quis risus eleifend commodo.
                Aenean placerat lorem id dui consequat cursus. Fusce semper, urna vitae convallis sodales,
                tortor turpis vulputate lorem, id vestibulum dolor nunc a odio.
                Aliquam egestas malesuada lacus, commodo consectetur odio tempor et.
                Nullam mi nisi, blandit eu tellus non, bibendum tempor lacus.
                Suspendisse dictum pellentesque congue.
                In nibh diam, ornare eget neque sit amet, egestas ornare nibh.
                Nunc vel eros id libero tristique auctor.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Pellentesque nec tincidunt ante. Etiam pulvinar metus quis risus eleifend commodo.
                Aenean placerat lorem id dui consequat cursus. Fusce semper, urna vitae convallis sodales,
                tortor turpis vulputate lorem, id vestibulum dolor nunc a odio.
                Aliquam egestas malesuada lacus, commodo consectetur odio tempor et.
                Nullam mi nisi, blandit eu tellus non, bibendum tempor lacus.
                Suspendisse dictum pellentesque congue.
                In nibh diam, ornare eget neque sit amet, egestas ornare nibh.
                Nunc vel eros id libero tristique auctor.
            </p>

        </div>
    </div>

    <div class="row">
        <div class="twelve columns" style="text-align:center;">
            <button id='login-button'
                    class="button-primary"
                    style="width:300px; height:100px; font-size:16pt;"
                    ng-click="login();">
                Get Started!
            </button>
        </div>
    </div>
</div>