<div class="row">
        <div class="row">
            <div class="ten columns offset-by-one">
                <h5>Welcome</h5>
                <p>
                    Medication adherence is a global issue identified by the World Health Organization as a problem
                    that the health care community must address. Yet, we (as researchers and health care providers) do not
                    have a sound definition of what it means to be "adherent" at a granular level. This project seeks
                    to understand what medication adherence means to prescribers. If we can develop a more rigourous
                    definition of adherence, then we can begin to develop tools to help patients maintain their
                    medication adherence and ultimately have better outcomes.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns" style="text-align:center;">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/7CTi_0aSEik" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="twelve columns" style="text-align:center;">
            <button id='login-button'
                    class="button-primary"
                    style="width:300px; height:100px; font-size:16pt;margin-top:25px;"
                    ng-click="login();">
                Get Started!
            </button>
        </div>
    </div>
</div>