<div class="row" ng-controller="questionController">
    <div class="twelve columns">

        <p>
            Scenario - lorem ipsum - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Pellentesque nec tincidunt ante. Etiam pulvinar metus quis risus eleifend commodo.
            Aenean placerat lorem id dui consequat cursus. Fusce semper, urna vitae convallis sodales,
            tortor turpis vulputate lorem, id vestibulum dolor nunc a odio.
        </p>

        <p style="font-style: italic">
            Adjust the interval slides to indicate when the range of time for the next dose. Press "Done" when you are finished.
        </p>
        <svg id="svg" style="width:800px;height:200px;-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;"></svg>

        <div class="row">
            <div class="twelve columns">
                <button class="button-primary" ng-click="doneQuestion();">Done</button>
                <button class='error u-pull-right' ng-click="exitStudy('question-'+questionNumber);">Exit Study</button>
            </div>
        </div>


    </div>
</div>