<div class="row" >
    <div id="timeline-wrapper" class="twelve columns" style="display:none;">

        <div class="row">
            <div class="ten columns offset-by-one">
                <p>{{timeline.description}}</p>

                <p>The prescription is: <span id="rx-span"></span></p>

                <p style="font-style: italic;">
                    Adjust the interval slides to indicate an adherent time range for the next dose.
                </p>

                <p style="font-style: italic;">
                    Press "Done" when you are finished.
                </p>
            </div>
        </div>


        <div class="row">
            <div class="twelve columns" style="margin-left:2%;">
                <svg id="svg" style="width:800px;height:200px;-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;"></svg>
            </div>
        </div>


        <div class="row">
            <div class="twelve columns">
                <button class='error u-pull-let' ng-click="exitStudy('question-'+questionNumber);">Exit Study</button>
                <button class="button-primary u-pull-right" ng-click="doneQuestion();">Done</button>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script type="text/javascript">
        window.onbeforeunload = function(){
            return true;
        };
    </script>
</div>
