<div class="row" ng-controller="surveyController" >

    <div class="twelve columns">

        <h5>Follow up questions:</h5>

        <div class="row">
            <div class="eight columns">
                <form>
                    <label for="q14-input">Has your concept/definition of medication adherence changed since the start of the study?</label>

                    <select id="q14-input" class="u-full-width">
                        <option value="yes">yes</option>
                        <option value="no">no</option>
                    </select>

                    <textarea id="q14-other" row="4" cols="80" placeholder="please specify" style="display: none;"></textarea>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="eight columns">
                <form>
                    <label for="q15-input">Do you have any additional comments regarding this study?</label>
                    <textarea id="q15-input" row="4" cols="80"></textarea>
                </form>
            </div>
        </div>


        <div class="row">
            <div class="twelve columns">
                <button class="button-primary">Done</button>
            </div>
        </div>

    </div>


</div>