<div class="row" ng-controller="surveyController" xmlns="http://www.w3.org/1999/html">

    <div class="twelve columns">

        <h5 id="sect-title-1" style="display:none;">Who are you?</h5>

        <div class="row" id="q1" style="display:none;">
            <div class="six columns">
                <form>
                    <label for="q1-input">What best describes your profession/role?</label>
                    <select class="u-full-width" id="q1-input">
                        <option value="MD-R">Resident Physician</option>
                        <option value="MD">Physician</option>
                        <option value="NP">Nurse Practitioner</option>
                        <option value="RN">Nurse (RN)</option>
                        <option value="dentist">Dentist</option>
                        <option value="pharmacist">Pharmacist</option>
                        <option value="MD-S">Medical Student</option>
                        <option value="other">Other</option>
                    </select>
                </form>
            </div>
        </div>

        <div class="row" id="q2" style="display:none;">
            <div class="six columns">
                <form>
                    <label for="q2-input">How long have you been practicing medicine for?</label>
                    <select class="u-full-width" id="q2-input">
                        <option value="R">I am a resident</option>
                        <option value="lt5">Less than 5 years</option>
                        <option value="lt10">Between 5 and 10 years</option>
                        <option value="gt10">Greater than 10 years</option>
                    </select>
                </form>
            </div>
        </div>

        <div class="row" id="q3" style="display:none;">
            <div class="eight columns">
                <form>
                    <label for="q3-input">What best describes your area of practice?</label>
                    <select class="u-full-width" id="q3-input">
                        <option value="family-office">Family medicine with office practice (may include hospital privileges)</option>
                        <option value="family-hospital">Family medicine with hospital only practice</option>
                        <option value="specialist-office">Specialist with office practice (may include hospital privileges)</option>
                        <option value="specialist-hospital">Specialist with hospital only practice</option>
                    </select>
                </form>
            </div>
        </div>


        <div class="row" id="q4" style="display:none;">
            <div class="six columns">
                <form>
                    <label for="q4-input">What is your gender?</label>
                    <select class="u-full-width" id="q4-input">
                        <option value="female">female</option>
                        <option value="male">male</option>
                        <option value="other">other</option>
                    </select>
                </form>
            </div>
        </div>

        <h5 id="sect-title-2" style="display:none;">What do you think about medication adherence?</h5>

        <div class="row" id="q5" style="display:none;">
            <div class="six columns">
                <form>
                    <label for="q5-input">How do you define medication adherence?</label>
                    <textarea id="q5-input" row="4" cols="80"></textarea>
                </form>
            </div>
        </div>

        <div class="row" id="q6" style="display:none;">
            <div class="eight columns">
                <form>
                    <label for="q6-input">In your practice to what <span style="font-style: italic">degree</span> is medication adherence a concern?</label>
                    <select class="u-full-width" id="q6-input">
                        <option value="not">Not a concern for any patients</option>
                        <option value="minority">A concern for a <span style="font-style: italic">minority</span> of patients</option>
                        <option value="half">A concern for a <span style="font-style: italic">half</span> of patients</option>
                        <option value="majority">A concern for a <span style="font-style: italic">majority</span> of patients</option>
                        <option value="all">A concern for a <span style="font-style: italic">all</span> of patients</option>
                    </select>
                </form>
            </div>
        </div>


        <div class="row" id="q7" style="display:none;">
            <div class="eight columns">
                <form>
                    <label for="q7-input">What do you precieve to be the biggest barriers to medication adherence?</label>
                    <textarea id="q7-input" row="4" cols="80"></textarea>
                </form>
            </div>
        </div>

        <div class="row" id="q8" style="display:none;">
            <div class="eight columns">
                <form>
                    <label for="q8-input">What percentage of patients do you believe understand the <em>implications</em> of non-adherence?</label>
                    <select class="u-full-width" id="q8-input">
                        <option value="100">100% understand the implications of non-adherence</option>
                        <option value="75-99">75% - 99%</option>
                        <option value="50-74">50% - 74%</option>
                        <option value="25-49">25% - 49%</option>
                        <option value="24-1">1% - 24%</option>
                        <option value="0">0% understand the implications of non-adherence</option>
                    </select>
                </form>
            </div>
        </div>

        <div class="row" id="q9" style="display:none;">
            <div class="eight columns">
                <form>
                    <label for="q9-input">Do you think patients report their adherence accurately?</label>
                    <select class="u-full-width" id="q9-input">
                        <option value="yes">yes, they report accurately</option>
                        <option value="no">no, they do <em>not</em> report accurately</option>
                    </select>
                </form>
            </div>
        </div>

        <div class="row" id="q10" style="display:none;">
            <div class="eight columns">
                <form>
                    <label for="q10-input">How do you usually measure medication adherence?</label>
                    <select class="u-full-width" id="q10-input">
                        <option value="ask-patient">ask the patient</option>
                        <option value="pill-count">pill count (bottle)</option>
                        <option value="rx-dates-records">check prescription dates in records</option>
                        <option value="refill">check with pharmacy for refill or dispense dates (e.g. online via PharmaNet in BC)</option>
                        <option value="dont-ask">I don't ask patients if they adhere to prescriptions</option>
                        <option value="other">other (please specify)</option>
                    </select>

                    <input type="text" class="u-full-width" placeholder="other (please specify)" id="q10-other" style="display:none;"/>

                </form>
            </div>
        </div>

        <div class="row" id="q11" style="display:none;">
            <div class="eight columns">
                <form>
                    <label for="q11-input">What techniques do you employ to improve/manage patient adherence to medications?</label>
                    <textarea id="q11-input" row="4" cols="80"></textarea>
                </form>
            </div>
        </div>
        <div class="row" id="q12" style="display:none;">
            <div class="twelve columns">
                <form>
                    <label for="q12-input">
                        What is the <em>likelihood</em> for a patient to be non-adherent to the following medications ?
                    </label>

                    <table>
                        <thead>
                            <th></th>
                            <th class="col-spacer">5 (most likely)</th>
                            <th class="col-spacer">4</th>
                            <th class="col-spacer">3</th>
                            <th class="col-spacer">2</th>
                            <th class="col-spacer">1 (least likely)</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Short course of systemic (oral) antibiotics</td>
                                <td> <input type="radio" name="q12-1" value="5" /></td>
                                <td> <input type="radio" name="q12-1" value="4" /></td>
                                <td> <input type="radio" name="q12-1" value="3" /></td>
                                <td> <input type="radio" name="q12-1" value="2" /></td>
                                <td> <input type="radio" name="q12-1" value="1" /></td>
                            </tr>

                            <tr class="row-stripe">
                                <td>Short course of NSAIDs for sprained ankle</td>
                                <td> <input type="radio" name="q12-2" value="5" /></td>
                                <td> <input type="radio" name="q12-2" value="4" /></td>
                                <td> <input type="radio" name="q12-2" value="3" /></td>
                                <td> <input type="radio" name="q12-2" value="2" /></td>
                                <td> <input type="radio" name="q12-2" value="1" /></td>
                            </tr>

                            <tr>
                                <td>Long-term NSAID for OA</td>
                                <td> <input type="radio" name="q12-3" value="5" /></td>
                                <td> <input type="radio" name="q12-3" value="4" /></td>
                                <td> <input type="radio" name="q12-3" value="3" /></td>
                                <td> <input type="radio" name="q12-3" value="2" /></td>
                                <td> <input type="radio" name="q12-3" value="1" /></td>
                            </tr>

                            <tr class="row-stripe">
                                <td>Opioids for chronic back pain</td>
                                <td> <input type="radio" name="q12-4" value="5" /></td>
                                <td> <input type="radio" name="q12-4" value="4" /></td>
                                <td> <input type="radio" name="q12-4" value="3" /></td>
                                <td> <input type="radio" name="q12-4" value="2" /></td>
                                <td> <input type="radio" name="q12-4" value="1" /></td>
                            </tr>

                            <tr>
                                <td>SSRIs</td>
                                <td> <input type="radio" name="q12-5" value="5" /></td>
                                <td> <input type="radio" name="q12-5" value="4" /></td>
                                <td> <input type="radio" name="q12-5" value="3" /></td>
                                <td> <input type="radio" name="q12-5" value="2" /></td>
                                <td> <input type="radio" name="q12-5" value="1" /></td>
                            </tr>

                            <tr class="row-stripe">
                                <td>Long-term benzodiazepines</td>
                                <td> <input type="radio" name="q12-6" value="5" /></td>
                                <td> <input type="radio" name="q12-6" value="4" /></td>
                                <td> <input type="radio" name="q12-6" value="3" /></td>
                                <td> <input type="radio" name="q12-6" value="2" /></td>
                                <td> <input type="radio" name="q12-6" value="1" /></td>
                            </tr>

                            <tr>
                                <td>Long-term beta-blocker for hypertension</td>
                                <td> <input type="radio" name="q12-7" value="5" /></td>
                                <td> <input type="radio" name="q12-7" value="4" /></td>
                                <td> <input type="radio" name="q12-7" value="3" /></td>
                                <td> <input type="radio" name="q12-7" value="2" /></td>
                                <td> <input type="radio" name="q12-7" value="1" /></td>
                            </tr>

                            <tr class="row-stripe">
                                <td>Oral contraception (Progestogens and Estrogens in combination)</td>
                                <td> <input type="radio" name="q12-8" value="5" /></td>
                                <td> <input type="radio" name="q12-8" value="4" /></td>
                                <td> <input type="radio" name="q12-8" value="3" /></td>
                                <td> <input type="radio" name="q12-8" value="2" /></td>
                                <td> <input type="radio" name="q12-8" value="1" /></td>
                            </tr>
                        </tbody>
                    </table>

                </form>
            </div>
        </div>

        <br>

        <div class="row" id="q13" style="display:none;">
            <div class="twelve columns">
                <form>
                    <label for="q13-input">
                        What is the <em>potential risk of harm</em> if a patient is non-adherent to the following medications ?
                    </label>

                    <table>
                        <thead>
                        <th></th>
                        <th class="col-spacer">5 (high risk)</th>
                        <th class="col-spacer">4</th>
                        <th class="col-spacer">3</th>
                        <th class="col-spacer">2</th>
                        <th class="col-spacer">1 (low risk)</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Short course of systemic (oral) antibiotics</td>
                            <td> <input type="radio" name="q13-1" value="5" /></td>
                            <td> <input type="radio" name="q13-1" value="4" /></td>
                            <td> <input type="radio" name="q13-1" value="3" /></td>
                            <td> <input type="radio" name="q13-1" value="2" /></td>
                            <td> <input type="radio" name="q13-1" value="1" /></td>
                        </tr>

                        <tr class="row-stripe">
                            <td>Short course of NSAIDs for sprained ankle</td>
                            <td> <input type="radio" name="q13-2" value="5" /></td>
                            <td> <input type="radio" name="q13-2" value="4" /></td>
                            <td> <input type="radio" name="q13-2" value="3" /></td>
                            <td> <input type="radio" name="q13-2" value="2" /></td>
                            <td> <input type="radio" name="q13-2" value="1" /></td>
                        </tr>

                        <tr>
                            <td>Long-term NSAID for OA</td>
                            <td> <input type="radio" name="q13-3" value="5" /></td>
                            <td> <input type="radio" name="q13-3" value="4" /></td>
                            <td> <input type="radio" name="q13-3" value="3" /></td>
                            <td> <input type="radio" name="q13-3" value="2" /></td>
                            <td> <input type="radio" name="q13-3" value="1" /></td>
                        </tr>

                        <tr class="row-stripe">
                            <td>Opioids for chronic back pain</td>
                            <td> <input type="radio" name="q13-4" value="5" /></td>
                            <td> <input type="radio" name="q13-4" value="4" /></td>
                            <td> <input type="radio" name="q13-4" value="3" /></td>
                            <td> <input type="radio" name="q13-4" value="2" /></td>
                            <td> <input type="radio" name="q13-4" value="1" /></td>
                        </tr>

                        <tr>
                            <td>SSRIs</td>
                            <td> <input type="radio" name="q13-5" value="5" /></td>
                            <td> <input type="radio" name="q13-5" value="4" /></td>
                            <td> <input type="radio" name="q13-5" value="3" /></td>
                            <td> <input type="radio" name="q13-5" value="2" /></td>
                            <td> <input type="radio" name="q13-5" value="1" /></td>
                        </tr>

                        <tr class="row-stripe">
                            <td>Long-term benzodiazepines</td>
                            <td> <input type="radio" name="q13-6" value="5" /></td>
                            <td> <input type="radio" name="q13-6" value="4" /></td>
                            <td> <input type="radio" name="q13-6" value="3" /></td>
                            <td> <input type="radio" name="q13-6" value="2" /></td>
                            <td> <input type="radio" name="q13-6" value="1" /></td>
                        </tr>

                        <tr>
                            <td>Long-term beta-blocker for hypertension</td>
                            <td> <input type="radio" name="q13-7" value="5" /></td>
                            <td> <input type="radio" name="q13-7" value="4" /></td>
                            <td> <input type="radio" name="q13-7" value="3" /></td>
                             <td> <input type="radio" name="q13-7" value="2" /></td>
                            <td> <input type="radio" name="q13-7" value="1" /></td>
                        </tr>

                        <tr class="row-stripe">
                            <td>Oral contraception (Progestogens and Estrogens in combination)</td>
                            <td> <input type="radio" name="q13-8" value="5" /></td>
                            <td> <input type="radio" name="q13-8" value="4" /></td>
                            <td> <input type="radio" name="q13-8" value="3" /></td>
                            <td> <input type="radio" name="q13-8" value="2" /></td>
                            <td> <input type="radio" name="q13-8" value="1" /></td>
                        </tr>
                        </tbody>
                    </table>

                </form>
            </div>
        </div>

        <div class="row">
            <div class="twelve columns">
                <button onclick="" id='back-button' class="button-primary">Back</button>
                <button onclick="" id='next-button' class="button-primary">Next</button>
            </div>
        </div>

    </div>



</div>