<div class="row" ng-controller="surveyController" xmlns="http://www.w3.org/1999/html">

    <div id="survey-wrapper" class="twelve columns">

        <div class="row" id="q0" style="display:none;">
            <div class="six columns offset-by-three columns">
                <form>
                    <label for="q0-input">What best describes your profession/role?</label>
                    <select ng-model="response" class="u-full-width" id="q0-input">
                        <option value="null-answer"></option>
                        <option value="MD-R">Resident Physician</option>
                        <option value="MD">Physician</option>
                        <option value="NP">Nurse Practitioner</option>
                        <option value="RN">Nurse (RN)</option>
                        <option value="dentist">Dentist</option>
                        <option value="pharmacist">Pharmacist</option>
                        <option value="MD-S">Medical Student</option>
                        <option value="other">Other</option>
                    </select>
                </form>
            </div>
        </div>

        <div class="row" id="q1" style="display:none;">
            <div class="six columns offset-by-three columns">
                <form>
                    <label for="q1-input">How long have you been practicing medicine for?</label>
                    <select ng-model="response" class="u-full-width" id="q1-input">
                        <option value="null-answer"></option>
                        <option value="R">I am a resident</option>
                        <option value="lt5">Less than 5 years</option>
                        <option value="lt10">Between 5 and 10 years</option>
                        <option value="gt10">Greater than 10 years</option>
                    </select>
                </form>
            </div>
        </div>

        <div class="row" id="q2" style="display:none;">
            <div class="eight columns offset-by-two columns">
                <form>
                    <label for="q2-input">What best describes your area of practice?</label>
                    <select ng-model="response" class="u-full-width" id="q2-input">
                        <option value="null-answer"></option>
                        <option value="family-office">Family medicine with office practice (may include hospital privileges)</option>
                        <option value="family-hospital">Family medicine with hospital only practice</option>
                        <option value="specialist-office">Specialist with office practice (may include hospital privileges)</option>
                        <option value="specialist-hospital">Specialist with hospital only practice</option>
                    </select>
                </form>
            </div>
        </div>


        <div class="row" id="q3" style="display:none;">
            <div class="six columns offset-by-three columns">
                <form>
                    <label for="q3-input">What is your gender?</label>
                    <select ng-model="response" class="u-full-width" id="q3-input">
                        <option value="null-answer"></option>
                        <option value="female">female</option>
                        <option value="male">male</option>
                        <option value="other">other</option>
                    </select>
                </form>
            </div>
        </div>

        <div class="row" id="q4" style="display:none;">
            <div class="eight columns offset-by-two columns">
                <form>
                    <label for="q4-input">How do you define medication adherence?</label>
                    <textarea id="q4-input" rows="4" cols="80"></textarea>
                </form>
            </div>
        </div>

        <div class="row" id="q5" style="display:none;">
            <div class="eight columns offset-by-two columns">
                <form>
                    <label for="q5-input">In your practice to what <span style="font-style: italic">degree</span> is medication adherence a concern?</label>
                    <select ng-model="response" class="u-full-width" id="q5-input">
                        <option value="null-answer"></option>
                        <option value="not">Not a concern for any patients</option>
                        <option value="minority">A concern for a <span style="font-style: italic">minority</span> of patients</option>
                        <option value="half">A concern for a <span style="font-style: italic">half</span> of patients</option>
                        <option value="majority">A concern for a <span style="font-style: italic">majority</span> of patients</option>
                        <option value="all">A concern for a <span style="font-style: italic">all</span> of patients</option>
                    </select>
                </form>
            </div>
        </div>


        <div class="row" id="q6" style="display:none;">
            <div class="eight columns offset-by-two columns">
                <form>
                    <label for="q6-input">What do you precieve to be the biggest barriers to medication adherence?</label>
                    <textarea id="q6-input" rows="4" cols="80"></textarea>
                </form>
            </div>
        </div>

        <div class="row" id="q7" style="display:none;">
            <div class="eight columns offset-by-two columns">
                <form>
                    <label for="q7-input">What percentage of patients do you believe understand the <em>implications</em> of non-adherence?</label>
                    <select ng-model="response" class="u-full-width" id="q7-input">
                        <option value="null-answer"></option>
                        <option value="100">100% understand the implications of non-adherence</option>
                        <option value="75-99">75% - 99%</option>
                        <option value="50-74">50% - 74%</option>
                        <option value="25-49">25% - 49%</option>
                        <option value="24-1">1% - 24%</option>
                        <option value="0">0% understand the implications of non-adherence</option>
                    </select>
                </form>
            </div>
        </div>

        <div class="row" id="q8" style="display:none;">
            <div class="eight columns offset-by-two columns">
                <form>
                    <label for="q8-input">Do you think patients report their adherence accurately?</label>
                    <select ng-model="response" class="u-full-width" id="q8-input">
                        <option value="null-answer"></option>
                        <option value="yes">yes, they report accurately</option>
                        <option value="no">no, they do <em>not</em> report accurately</option>
                    </select>
                </form>
            </div>
        </div>

        <div class="row" id="q9" style="display:none;">
            <div class="eight columns offset-by-two columns">
                <form>
                    <label for="q9-input">How do you usually measure medication adherence?</label>
                    <select ng-model="response" class="u-full-width" id="q9-input" ng-change="showOther(9)">
                        <option value="null-answer"></option>
                        <option value="ask-patient">ask the patient</option>
                        <option value="pill-count">pill count (bottle)</option>
                        <option value="rx-dates-records">check prescription dates in records</option>
                        <option value="refill">check with pharmacy for refill or dispense dates (e.g. online via PharmaNet in BC)</option>
                        <option value="dont-ask">I don't ask patients if they adhere to prescriptions</option>
                        <option value="other">other</option>
                    </select>

                    <input type="text" class="u-full-width" placeholder="please specify" id="q9-other" style="display:none;"/>

                </form>
            </div>
        </div>

        <div class="row" id="q10" style="display:none;">
            <div class="eight columns offset-by-two columns">
                <form>
                    <label for="q10-input">What techniques do you employ to improve/manage patient adherence to medications?</label>
                    <textarea id="q10-input" row="4" cols="80"></textarea>
                </form>
            </div>
        </div>
        <div class="row" id="q11" style="display:none;">
            <div class="twelve columns">
                <form>
                    <label for="q11-input">
                        What is the <em>likelihood</em> for a patient to be non-adherent to the following medications ?
                    </label>

                    <table>
                        <thead>
                            <th></th>
                            <th class="col-spacer">5 (most likely)</th>
                            <th class="col-spacer">4</th>
                            <th class="col-spacer">3</th>
                            <th class="col-spacer">2</th>
                            <th class="col-spacer">1 (least likely)</th>
                        </thead>
                        <tbody>
                            <tr id="q11-1">
                                <td>Short course of systemic (oral) antibiotics</td>
                                <td> <input type="radio" name="q11-1" value="5" /></td>
                                <td> <input type="radio" name="q11-1" value="4" /></td>
                                <td> <input type="radio" name="q11-1" value="3" /></td>
                                <td> <input type="radio" name="q11-1" value="2" /></td>
                                <td> <input type="radio" name="q11-1" value="1" /></td>
                            </tr>

                            <tr id="q11-2" class="row-stripe">
                                <td>Short course of NSAIDs for sprained ankle</td>
                                <td> <input type="radio" name="q11-2" value="5" /></td>
                                <td> <input type="radio" name="q11-2" value="4" /></td>
                                <td> <input type="radio" name="q11-2" value="3" /></td>
                                <td> <input type="radio" name="q11-2" value="2" /></td>
                                <td> <input type="radio" name="q11-2" value="1" /></td>
                            </tr>

                            <tr id="q11-3">
                                <td>Long-term NSAID for OA</td>
                                <td> <input type="radio" name="q11-3" value="5" /></td>
                                <td> <input type="radio" name="q11-3" value="4" /></td>
                                <td> <input type="radio" name="q11-3" value="3" /></td>
                                <td> <input type="radio" name="q11-3" value="2" /></td>
                                <td> <input type="radio" name="q11-3" value="1" /></td>
                            </tr>

                            <tr id="q11-4" class="row-stripe">
                                <td>Opioids for chronic back pain</td>
                                <td> <input type="radio" name="q11-4" value="5" /></td>
                                <td> <input type="radio" name="q11-4" value="4" /></td>
                                <td> <input type="radio" name="q11-4" value="3" /></td>
                                <td> <input type="radio" name="q11-4" value="2" /></td>
                                <td> <input type="radio" name="q11-4" value="1" /></td>
                            </tr>

                            <tr id="q11-5">
                                <td>SSRIs</td>
                                <td> <input type="radio" name="q11-5" value="5" /></td>
                                <td> <input type="radio" name="q11-5" value="4" /></td>
                                <td> <input type="radio" name="q11-5" value="3" /></td>
                                <td> <input type="radio" name="q11-5" value="2" /></td>
                                <td> <input type="radio" name="q11-5" value="1" /></td>
                            </tr>

                            <tr id="q11-6" class="row-stripe">
                                <td>Long-term benzodiazepines</td>
                                <td> <input type="radio" name="q11-6" value="5" /></td>
                                <td> <input type="radio" name="q11-6" value="4" /></td>
                                <td> <input type="radio" name="q11-6" value="3" /></td>
                                <td> <input type="radio" name="q11-6" value="2" /></td>
                                <td> <input type="radio" name="q11-6" value="1" /></td>
                            </tr>

                            <tr id="q11-7">
                                <td>Long-term beta-blocker for hypertension</td>
                                <td> <input type="radio" name="q11-7" value="5" /></td>
                                <td> <input type="radio" name="q11-7" value="4" /></td>
                                <td> <input type="radio" name="q11-7" value="3" /></td>
                                <td> <input type="radio" name="q11-7" value="2" /></td>
                                <td> <input type="radio" name="q11-7" value="1" /></td>
                            </tr>

                            <tr id="q11-8" class="row-stripe">
                                <td>Oral contraception (Progestogens and Estrogens in combination)</td>
                                <td> <input type="radio" name="q11-8" value="5" /></td>
                                <td> <input type="radio" name="q11-8" value="4" /></td>
                                <td> <input type="radio" name="q11-8" value="3" /></td>
                                <td> <input type="radio" name="q11-8" value="2" /></td>
                                <td> <input type="radio" name="q11-8" value="1" /></td>
                            </tr>
                        </tbody>
                    </table>

                </form>
            </div>
        </div>

        <br>

        <div class="row" id="q12" style="display:none;">
            <div class="twelve columns">
                <form>
                    <label for="q12-input">
                        What is the <em>potential risk of harm</em> if a patient is non-adherent to the following medications ?
                    </label>

                    <table>
                        <thead>
                        <th></th>
                        <th class="col-spacer">5 (high risk)</th>
                        <th class="col-spacer">4</th>
                        <th class="col-spacer">3</th>
                        <th class="col-spacer">2</th>
                        <th class="col-spacer">1 (low risk)</th>
                        </thead>
                        <tbody>
                        <tr id="q12-1">
                            <td>Short course of systemic (oral) antibiotics</td>
                            <td> <input type="radio" name="q12-1" value="5" /></td>
                            <td> <input type="radio" name="q12-1" value="4" /></td>
                            <td> <input type="radio" name="q12-1" value="3" /></td>
                            <td> <input type="radio" name="q12-1" value="2" /></td>
                            <td> <input type="radio" name="q12-1" value="1" /></td>
                        </tr>

                        <tr id="q12-2" class="row-stripe">
                            <td>Short course of NSAIDs for sprained ankle</td>
                            <td> <input type="radio" name="q12-2" value="5" /></td>
                            <td> <input type="radio" name="q12-2" value="4" /></td>
                            <td> <input type="radio" name="q12-2" value="3" /></td>
                            <td> <input type="radio" name="q12-2" value="2" /></td>
                            <td> <input type="radio" name="q12-2" value="1" /></td>
                        </tr>

                        <tr id="q12-3">
                            <td>Long-term NSAID for OA</td>
                            <td> <input type="radio" name="q12-3" value="5" /></td>
                            <td> <input type="radio" name="q12-3" value="4" /></td>
                            <td> <input type="radio" name="q12-3" value="3" /></td>
                            <td> <input type="radio" name="q12-3" value="2" /></td>
                            <td> <input type="radio" name="q12-3" value="1" /></td>
                        </tr>

                        <tr id="q12-4" class="row-stripe">
                            <td>Opioids for chronic back pain</td>
                            <td> <input type="radio" name="q12-4" value="5" /></td>
                            <td> <input type="radio" name="q12-4" value="4" /></td>
                            <td> <input type="radio" name="q12-4" value="3" /></td>
                            <td> <input type="radio" name="q12-4" value="2" /></td>
                            <td> <input type="radio" name="q12-4" value="1" /></td>
                        </tr>

                        <tr id="q12-5">
                            <td>SSRIs</td>
                            <td> <input type="radio" name="q12-5" value="5" /></td>
                            <td> <input type="radio" name="q12-5" value="4" /></td>
                            <td> <input type="radio" name="q12-5" value="3" /></td>
                            <td> <input type="radio" name="q12-5" value="2" /></td>
                            <td> <input type="radio" name="q12-5" value="1" /></td>
                        </tr>

                        <tr id="q12-6" class="row-stripe">
                            <td>Long-term benzodiazepines</td>
                            <td> <input type="radio" name="q12-6" value="5" /></td>
                            <td> <input type="radio" name="q12-6" value="4" /></td>
                            <td> <input type="radio" name="q12-6" value="3" /></td>
                            <td> <input type="radio" name="q12-6" value="2" /></td>
                            <td> <input type="radio" name="q12-6" value="1" /></td>
                        </tr>

                        <tr id="q12-7">
                            <td>Long-term beta-blocker for hypertension</td>
                            <td> <input type="radio" name="q12-7" value="5" /></td>
                            <td> <input type="radio" name="q12-7" value="4" /></td>
                            <td> <input type="radio" name="q12-7" value="3" /></td>
                             <td> <input type="radio" name="q12-7" value="2" /></td>
                            <td> <input type="radio" name="q12-7" value="1" /></td>
                        </tr>

                        <tr id="q12-8" class="row-stripe">
                            <td>Oral contraception (Progestogens and Estrogens in combination)</td>
                            <td> <input type="radio" name="q12-8" value="5" /></td>
                            <td> <input type="radio" name="q12-8" value="4" /></td>
                            <td> <input type="radio" name="q12-8" value="3" /></td>
                            <td> <input type="radio" name="q12-8" value="2" /></td>
                            <td> <input type="radio" name="q12-8" value="1" /></td>
                        </tr>
                        </tbody>
                    </table>

                </form>
            </div>
        </div>

        <div class="row" id="q13" style="display:none;">
            <div class="eight columns offset-by-two columns">
                <form>
                    <label for="q13-input">Has your concept/definition of medication adherence changed since the start of the study?</label>

                    <select id="q13-input" class="u-full-width" ng-model="response" ng-change="showOther(13)">
                        <option value="null-answer"></option>
                        <option value="yes">yes</option>
                        <option value="no">no</option>
                    </select>

                    <textarea id="q13-other" rows="4" cols="80" placeholder="please specify" style="display: none;"></textarea>
                </form>
            </div>
        </div>

        <div class="row" id="q14" style="display:none;">
            <div class="eight columns offset-by-two columns">
                <form>
                    <label for="q14-input">Do you have any additional comments regarding this study?</label>
                    <textarea id="q14-input" rows="4" cols="80"></textarea>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="twelve columns" style="text-align: center">
                <!-- <button ng-click="goBack();" id='back-button' class="">Back</button> -->
                <button ng-click="goNext();" id='next-button' style="width:250px; height:50px;" class="button-primary">Next</button>
                <br><br>
                <button ng-click="exitStudy('survey-'+questionNum);" id='exit-button' style="" class="button error">Exit Study</button>
            </div>
        </div>

    </div>
    <!-- Scripts -->
    <script type="text/javascript">
        window.onbeforeunload = function(){
            return true;
        };
    </script>
</div>

