<div class="row">
    <div class="twelve columns">

        <div class="" id="tutorial-control" ng-controller="svgController">

            <h4>Tutorial</h4>

            <div class="row">
                <div class="twelve columns" style="text-align:center; align-content: center">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ELPz4Y-8M8Q" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

            <div class="row">
                <div class="ten columns offset-by-one">

                    <br>

                    <p>
                        This tutorial is meant to familiarize you with the interface used for the rest of the study.
                    </p>

                    <p>
                        Given a patient's medication administration history (shown on a timeline), we would like you to
                        indicate when they <em>could take their next dose</em> (using the sliders on the timeline) and still
                        be considered "adherent". Use the green slider to denote the first time at which the medication should be
                        administered and the red slider to indicate the last time at which the medication should be administered.
                    </p>

                    <p>
                        As part of this tutorial, we would like you adjust the sliders to indicate that the patient's
                        next (their third) dose could be taken on day 2 between 8:00 and 20:00. Use the timeline
                        below. When you are finished, click "Done" to proceed".
                    </p>

                </div>
            </div>

            <div class="row">
                <div class="ten columns offset-by-one">
                    <b style="font-style: italic">
                        Adjust the sliders below so that the next (third) dose is taken on day 2 between 8:00 and 20:00.
                    </b>
                </div>
            </div>

            <div class="row">
                <div class="twelve columns">
                    <svg id="svg" style="width:800px;height:200px;-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;"></svg>
                </div>
            </div>

            <div class="row" style="text-align:left;">
                <div class="twelve columns">
                    <button ng-click="exitStudy('tutorial');" class="error u-pull-left">Exit Study</button>
                    <button onclick="doneTask();" class="success u-pull-right">Done</button>
                </div>
            </div>
        </div>

        <script type="text/javascript">

            var TUTORIAL_MIN = 56; // 8 AM on day 2
            var TUTORIAL_MAX = 68; // 8 PM on day 2

            function doneTask(){

                var scope = angular.element($("#tutorial-control")).scope();
                var timeline = scope.timeline;

                if(timeline.left === TUTORIAL_MIN && timeline.right === TUTORIAL_MAX){

                    scope.next("begin");

                }else{
                    alert("Please place the interval sliders as described in the tutorial.");
                }
            }


        </script>

    </div>

    <!-- Scripts -->
    <script type="text/javascript">
        window.onbeforeunload = function(){
            return true;
        };
    </script>
</div>
