<div class="row">
    <div class="twelve columns">

        <div class="" id="tutorial-control" ng-controller="svgController">
            <h4>Study Tutorial</h4>
            <p>
                The following is a practice question to familiarize you with the user interface for this study.
                Subsequent study questions will use a similar format.
            </p>

            <p>
                The timeline below represents a hypothetical patient medication taking behavior.
                The axis represents time, shown in hours since the start of the prescription.
                Points in time at which the patient consumed their medication are shown as dots.
            </p>

            <p>
                Your task is to indicate when the patient may take the next dose of medication.
                You do this by indicating a range of permissible administration times.
            </p>

            <p style="font-style: italic">
                Adjust the interval sliders to indicate that third dose should be taken between 60 and 70 hours. Press "Done" when you are finished.
            </p>
            <svg id="svg" style="width:800px;height:200px;-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;"></svg>

            <div class="row" style="text-align:left;">
                <div class="twelve columns">
                    <button onclick="doneTask();" class="success">Done</button>
                    <button ng-click="exitStudy('tutorial');" class="error u-pull-right">Exit Study</button>
                </div>
            </div>
        </div>

        <script type="text/javascript">

            function doneTask(){

                var scope = angular.element($("#tutorial-control")).scope();
                var timeline = scope.timeline;

                if(timeline.left === 60 && timeline.right === 70){

                    console.log("advancing to 'begin' state...");

                    scope.next("begin");

                }else{
                    alert("Please place the interval sliders as described above.");
                }
            }

        </script>

    </div>
</div>